In [30]:
import pandas as pd
import numpy as np
import datetime as dt

In [31]:
amz = pd.read_csv('amazonSentiments.csv')
appl = pd.read_csv('appleSentiments.csv')
goog = pd.read_csv('googleSentiments.csv')
mic = pd.read_csv('microsoftSentiments.csv')

In [32]:
amz.head()

,tweet,likes_count,Date,c_tweets,str_tweets,sentiment
0,"@warrenellis Currently showing ""in stock"". An...",0,2013-01-03,"['warrenelli', 'current', 'show', 'stock', 'qu...","['warrenelli', 'current', 'show', 'stock', 'qu...",0.1779
1,Almost all meat thermometers that are prime-el...,0,2013-01-03,"['almost', 'meat', 'thermomet', 'primeelig', '...","['almost', 'meat', 'thermomet', 'primeelig', '...",-0.2732
2,"@CartersMusings I am in dire need, but I do ha...",0,2013-01-03,"['cartersmus', 'dire', 'need', 'amazon', 'prim...","['cartersmus', 'dire', 'need', 'amazon', 'prim...",-0.3182
3,Bamboo Solo Stylus for iPad $17.97 free shippi...,0,2013-01-04,"['bamboo', 'solo', 'stylu', 'ipad', 'free', 's...","['bamboo', 'solo', 'stylu', 'ipad', 'free', 's...",0.6124
4,Good podcast with Jeff Bezos Amazon CEO. Might...,0,2013-01-04,"['good', 'podcast', 'jeff', 'bezo', 'amazon', ...","['good', 'podcast', 'jeff', 'bezo', 'amazon', ...",0.8127

In [33]:
amz.tail()

,tweet,likes_count,Date,c_tweets,str_tweets,sentiment
23281,@officedepot online says you had a portable sp...,0,2018-12-30,"['officedepot', 'onlin', 'say', 'portabl', 'sp...","['officedepot', 'onlin', 'say', 'portabl', 'sp...",-0.9164
23282,@JeffBezos Amazon is already failing. You “fak...,0,2018-12-30,"['jeffbezo', 'amazon', 'alreadi', 'fail', 'fak...","['jeffbezo', 'amazon', 'alreadi', 'fail', 'fak...",-0.4777
23283,@officedepot Thanks but used my Amazon Prime a...,0,2018-12-31,"['officedepot', 'thank', 'use', 'amazon', 'pri...","['officedepot', 'thank', 'use', 'amazon', 'pri...",0.8556
23284,"Amazon Prime, un servicio por el que pago porq...",7,2018-12-31,"['amazon', 'prime', 'un', 'servicio', 'por', '...","['amazon', 'prime', 'un', 'servicio', 'por', '...",-0.1280
23285,#Amazon will spin out #AWS and will soon becom...,0,2018-12-31,"['amazon', 'spin', 'aw', 'soon', 'becom', 'fas...","['amazon', 'spin', 'aw', 'soon', 'becom', 'fas...",0.5106

In [34]:
amazon_stock = pd.read_csv('Amazon_with_trend.csv')
apple_stock = pd.read_csv('Apple_with_trend.csv')
google_stock = pd.read_csv('Google_with_trend.csv')
microsoft_stock = pd.read_csv('Microsoft_with_trend.csv')

In [6]:
amazon_stock.head()

,Date,High,Low,Open,Close,Volume,Adj Close,SMA,MACD,k,d,RSI,Close_Shifted,Target,Target_Direction,Predicted Trend
0,2013-01-02,0.001567,0.002317,0.002165,0.002766,0.104014,0.002766,0.01567,0.329972,0.715128,0.603148,0.507704,0.005211,137.684600,1,1
1,2013-01-03,0.002410,0.003277,0.002526,0.003122,0.081376,0.003122,0.01567,0.330101,0.772594,0.625304,0.529388,0.006003,184.847219,1,1
2,2013-01-04,0.002082,0.003363,0.002620,0.003326,0.043217,0.003326,0.01567,0.330568,0.805501,0.766795,0.542057,0.007462,69.472472,1,1
3,2013-01-07,0.005092,0.005221,0.004254,0.006162,0.175353,0.006162,0.01567,0.331932,0.952574,0.849530,0.684999,0.007209,14.691421,1,1
4,2013-01-08,0.004865,0.005498,0.005497,0.005528,0.092684,0.005528,0.01567,0.333615,0.875834,0.885449,0.629937,0.006305,16.227622,1,1

In [35]:
amazon_2k13 = amazon_stock
apple_2k13 = apple_stock
google_2k13 = google_stock
microsoft_2k13 = microsoft_stock

In [8]:
amazon_2k13.head()

,Date,High,Low,Open,Close,Volume,Adj Close,SMA,MACD,k,d,RSI,Close_Shifted,Target,Target_Direction,Predicted Trend
0,2013-01-02,0.001567,0.002317,0.002165,0.002766,0.104014,0.002766,0.01567,0.329972,0.715128,0.603148,0.507704,0.005211,137.684600,1,1
1,2013-01-03,0.002410,0.003277,0.002526,0.003122,0.081376,0.003122,0.01567,0.330101,0.772594,0.625304,0.529388,0.006003,184.847219,1,1
2,2013-01-04,0.002082,0.003363,0.002620,0.003326,0.043217,0.003326,0.01567,0.330568,0.805501,0.766795,0.542057,0.007462,69.472472,1,1
3,2013-01-07,0.005092,0.005221,0.004254,0.006162,0.175353,0.006162,0.01567,0.331932,0.952574,0.849530,0.684999,0.007209,14.691421,1,1
4,2013-01-08,0.004865,0.005498,0.005497,0.005528,0.092684,0.005528,0.01567,0.333615,0.875834,0.885449,0.629937,0.006305,16.227622,1,1

In [9]:
google_2k13.head()

,Date,High,Low,Open,Close,Volume,Adj Close,SMA,MACD,k,d,RSI,Close_Shifted,Target,Target_Direction,Prediicted Trend
0,2013-01-02,0.007213,0.007096,0.004990,0.006869,0.219448,0.006869,0.068159,0.605161,0.835766,0.581015,0.662822,0.013014,82.587044,1,1
1,2013-01-03,0.008855,0.008504,0.006852,0.007011,0.200152,0.007011,0.068159,0.605855,0.770109,0.690591,0.667109,0.012512,-17.666702,0,1
2,2013-01-04,0.012032,0.010852,0.008343,0.011831,0.238665,0.011831,0.068159,0.607666,0.923026,0.846723,0.704562,0.006869,-28.564748,0,0
3,2013-01-07,0.011336,0.011831,0.010409,0.010746,0.142855,0.010746,0.068159,0.609858,0.852211,0.852456,0.704562,0.007436,-60.221426,0,0
4,2013-01-08,0.010310,0.009756,0.010439,0.010257,0.144619,0.010257,0.068159,0.612048,0.820320,0.869958,0.694828,0.004153,-69.485429,0,0

In [10]:
amazon_stock_trend = amazon_2k13[['Adj Close', 'Target_Direction', 'Date']]
amazon_senti = amz[['Date', 'sentiment']]

In [11]:
amazon_senti.head()

         Date  sentiment
0  2013-01-03     0.1779
1  2013-01-03    -0.2732
2  2013-01-03    -0.3182
3  2013-01-04     0.6124
4  2013-01-04     0.8127

In [12]:
amazon_stock_trend.head()

   Adj Close  Target_Direction        Date
0   0.002766                 1  2013-01-02
1   0.003122                 1  2013-01-03
2   0.003326                 1  2013-01-04
3   0.006162                 1  2013-01-07
4   0.005528                 1  2013-01-08

In [13]:
def change_to_time_index(df):
    df['Date2'] = pd.to_datetime(df['Date'])
    return df

In [14]:
amazon_senti = change_to_time_index(amazon_senti)
amazon_stock_trend = change_to_time_index(amazon_stock_trend)

<ipython-input-13-6bc406c20b72>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Date2'] = pd.to_datetime(df['Date'])

In [15]:
amazon_senti_daily = amazon_senti.groupby(pd.Grouper(key='Date2',freq='1D')).mean()

In [16]:
amazon_senti_daily.head()

            sentiment
Date2
2013-01-03  -0.137833
2013-01-04   0.608467
2013-01-05        NaN
2013-01-06        NaN
2013-01-07   0.790600

In [17]:
amazon_senti_daily['Date'] = amazon_senti_daily.index

In [18]:
amazon_senti_daily.head()

            sentiment       Date
Date2
2013-01-03  -0.137833 2013-01-03
2013-01-04   0.608467 2013-01-04
2013-01-05        NaN 2013-01-05
2013-01-06        NaN 2013-01-06
2013-01-07   0.790600 2013-01-07

In [19]:
amazon_stock_trend.drop(['Date2'], axis = 1, inplace = True)

/opt/anaconda3/lib/python3.8/site-packages/pandas/core/frame.py:4163: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().drop(

In [20]:
amazon_stock_trend['Date'] = pd.to_datetime(amazon_stock_trend['Date'])

<ipython-input-20-67c5c98cb102>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  amazon_stock_trend['Date'] = pd.to_datetime(amazon_stock_trend['Date'])

In [21]:
amazon_stock_trend

      Adj Close  Target_Direction       Date
0      0.002766                 1 2013-01-02
1      0.003122                 1 2013-01-03
2      0.003326                 1 2013-01-04
3      0.006162                 1 2013-01-07
4      0.005528                 1 2013-01-08
...         ...               ...        ...
2003   0.888424                 1 2020-12-15
2004   0.911523                 1 2020-12-16
2005   0.910037                 1 2020-12-17
2006   0.899550                 1 2020-12-18
2007   0.900930                 1 2020-12-21

[2008 rows x 3 columns]

In [22]:
merge1 = pd.merge(amazon_senti_daily, amazon_stock_trend,  on='Date', how ='left')

In [23]:
merge1

      sentiment       Date  Adj Close  Target_Direction
0     -0.137833 2013-01-03   0.003122               1.0
1      0.608467 2013-01-04   0.003326               1.0
2           NaN 2013-01-05        NaN               NaN
3           NaN 2013-01-06        NaN               NaN
4      0.790600 2013-01-07   0.006162               1.0
...         ...        ...        ...               ...
2184   0.412708 2018-12-27   0.369579               1.0
2185   0.435900 2018-12-28   0.374568               1.0
2186   0.200833 2018-12-29        NaN               NaN
2187  -0.122367 2018-12-30        NaN               NaN
2188   0.412733 2018-12-31   0.381863               1.0

[2189 rows x 4 columns]

In [24]:
dates = pd.to_datetime(amazon_2k13['Date'])

In [25]:
merge2 = pd.merge(merge1, dates, on='Date')

In [26]:
merge2

      sentiment       Date  Adj Close  Target_Direction
0     -0.137833 2013-01-03   0.003122               1.0
1      0.608467 2013-01-04   0.003326               1.0
2      0.790600 2013-01-07   0.006162               1.0
3      0.347700 2013-01-08   0.005528               1.0
4      0.344750 2013-01-09   0.005519               1.0
...         ...        ...        ...               ...
1504   0.060320 2018-12-24   0.333736               1.0
1505   0.691967 2018-12-26   0.372400               1.0
1506   0.412708 2018-12-27   0.369579               1.0
1507   0.435900 2018-12-28   0.374568               1.0
1508   0.412733 2018-12-31   0.381863               1.0

[1509 rows x 4 columns]

In [27]:
merge2['sentiment'] = merge2['sentiment'].apply(lambda x : round(x, 1))

In [28]:
merge2

      sentiment       Date  Adj Close  Target_Direction
0          -0.1 2013-01-03   0.003122               1.0
1           0.6 2013-01-04   0.003326               1.0
2           0.8 2013-01-07   0.006162               1.0
3           0.3 2013-01-08   0.005528               1.0
4           0.3 2013-01-09   0.005519               1.0
...         ...        ...        ...               ...
1504        0.1 2018-12-24   0.333736               1.0
1505        0.7 2018-12-26   0.372400               1.0
1506        0.4 2018-12-27   0.369579               1.0
1507        0.4 2018-12-28   0.374568               1.0
1508        0.4 2018-12-31   0.381863               1.0

[1509 rows x 4 columns]

In [36]:
def combine(stock_df, sentiment_df):
    target_variables = ['Adj Close', 'Target_Direction', 'Date']
    stock_trend = stock_df[target_variables]
    senti = sentiment_df[['Date', 'sentiment']]
    senti = change_to_time_index(senti)
    stock_trend = change_to_time_index(stock_trend)
    
    stock_trend.drop(['Date2'], axis = 1, inplace = True)
    stock_trend['Date'] = pd.to_datetime(stock_trend['Date'])
    
    senti_daily = senti.groupby(pd.Grouper(key='Date2',freq='1D')).mean()
    senti_daily['Date'] = senti_daily.index
    merge1 = pd.merge(senti_daily, stock_trend,  on='Date', how ='left')
    dates = pd.to_datetime(stock_df['Date'])
    merge2 = pd.merge(merge1, dates, on='Date')
    merge2['sentiment'] = merge2['sentiment'].apply(lambda x : round(x, 1))
    merge2['Adj Close'] = merge2['Adj Close'].apply(lambda x : round(x, 4))
    return merge2

In [37]:
amazon_merge = combine(amazon_2k13, amz)

<ipython-input-13-6bc406c20b72>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Date2'] = pd.to_datetime(df['Date'])
/opt/anaconda3/lib/python3.8/site-packages/pandas/core/frame.py:4163: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().drop(
<ipython-input-36-c563c1c9660a>:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  stock_trend['Date'] = pd.to_datetime(stock_trend['Date'])

In [38]:
apple_merge = combine(apple_2k13, appl)

<ipython-input-13-6bc406c20b72>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Date2'] = pd.to_datetime(df['Date'])
<ipython-input-36-c563c1c9660a>:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  stock_trend['Date'] = pd.to_datetime(stock_trend['Date'])

In [39]:
apple_merge

      sentiment       Date  Adj Close  Target_Direction
0          -0.1 2013-01-02     0.0390               0.0
1          -0.0 2013-01-03     0.0373               0.0
2           0.2 2013-01-04     0.0335               0.0
3           NaN 2013-01-07     0.0327               0.0
4          -0.4 2013-01-08     0.0331               0.0
...         ...        ...        ...               ...
1505        0.1 2018-12-24     0.1899               1.0
1506        0.2 2018-12-26     0.2102               0.0
1507        0.1 2018-12-27     0.2082               0.0
1508       -0.1 2018-12-28     0.2084               0.0
1509       -0.2 2018-12-31     0.2114               1.0

[1510 rows x 4 columns]

In [40]:
google_merge = combine(google_2k13, goog)

<ipython-input-13-6bc406c20b72>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Date2'] = pd.to_datetime(df['Date'])
/opt/anaconda3/lib/python3.8/site-packages/pandas/core/frame.py:4163: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().drop(
<ipython-input-36-c563c1c9660a>:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  stock_trend['Date'] = pd.to_datetime(stock_trend['Date'])

In [41]:
google_merge

      sentiment       Date  Adj Close  Target_Direction
0           0.3 2013-01-02     0.0069               1.0
1           0.4 2013-01-03     0.0070               0.0
2           0.4 2013-01-04     0.0118               0.0
3           0.3 2013-01-07     0.0107               0.0
4           0.4 2013-01-08     0.0103               0.0
...         ...        ...        ...               ...
1505        NaN 2018-12-24     0.4236               1.0
1506        0.3 2018-12-26     0.4664               1.0
1507        0.5 2018-12-27     0.4694               1.0
1508        0.5 2018-12-28     0.4648               1.0
1509        0.8 2018-12-31     0.4638               1.0

[1510 rows x 4 columns]

In [42]:
microsoft_merge = combine(microsoft_2k13, mic)

<ipython-input-13-6bc406c20b72>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Date2'] = pd.to_datetime(df['Date'])
/opt/anaconda3/lib/python3.8/site-packages/pandas/core/frame.py:4163: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().drop(
<ipython-input-36-c563c1c9660a>:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  stock_trend['Date'] = pd.to_datetime(stock_trend['Date'])

In [43]:
microsoft_merge

      sentiment       Date  Adj Close  Target_Direction
0           0.2 2013-01-02     0.0047               0.0
1           0.2 2013-01-03     0.0032               0.0
2           0.3 2013-01-04     0.0011               1.0
3           0.1 2013-01-07     0.0009               1.0
4          -0.4 2013-01-08     0.0004               1.0
...         ...        ...        ...               ...
1505        0.3 2018-12-24     0.3332               1.0
1506        0.2 2018-12-26     0.3632               1.0
1507        0.1 2018-12-27     0.3661               1.0
1508        0.1 2018-12-28     0.3624               1.0
1509        0.2 2018-12-31     0.3679               1.0

[1510 rows x 4 columns]

In [44]:
amazon_merge['sentiment'].isnull().sum()

204

In [45]:
apple_merge['sentiment'].isnull().sum()

157

In [46]:
microsoft_merge['sentiment'].isnull().sum()

0

In [47]:
google_merge['sentiment'].isnull().sum()

145

In [48]:
amazon_merge['sentiment'].fillna((amazon_merge['sentiment'].mean()), inplace = True)
apple_merge['sentiment'].fillna((apple_merge['sentiment'].mean()), inplace = True)
microsoft_merge['sentiment'].fillna((microsoft_merge['sentiment'].mean()), inplace = True)
google_merge['sentiment'].fillna((google_merge['sentiment'].mean()), inplace = True)

In [49]:
apple_merge['sentiment'] = apple_merge['sentiment'].apply(lambda x : round(x, 1))

In [50]:
merge2.to_csv('Amazon_all.csv')
apple_merge.to_csv('Apple_all.csv')
microsoft_merge.to_csv('Microsoft_all.csv')
google_merge.to_csv('Google_all.csv')

In [51]:
amazon_merge.head()

   sentiment       Date  Adj Close  Target_Direction
0       -0.1 2013-01-03     0.0031               1.0
1        0.6 2013-01-04     0.0033               1.0
2        0.8 2013-01-07     0.0062               1.0
3        0.3 2013-01-08     0.0055               1.0
4        0.3 2013-01-09     0.0055               1.0

In [73]:
apple_merge.head()

   sentiment       Date  Adj Close  Target_Direction
0       -0.1 2013-01-02     0.0852               0.0
1       -0.0 2013-01-03     0.0836               0.0
2        0.2 2013-01-04     0.0800               0.0
3        0.1 2013-01-07     0.0793               0.0
4       -0.4 2013-01-08     0.0796               0.0

In [74]:
google_merge.head()

   sentiment       Date  Adj Close  Target_Direction
0        0.3 2013-01-02     0.0888               1.0
1        0.4 2013-01-03     0.0889               0.0
2        0.4 2013-01-04     0.0934               0.0
3        0.3 2013-01-07     0.0924               0.0
4        0.4 2013-01-08     0.0919               0.0

In [75]:
microsoft_merge

      sentiment       Date  Adj Close  Target_Direction
0           0.2 2013-01-02     0.0239               0.0
1           0.2 2013-01-03     0.0225               1.0
2           0.3 2013-01-04     0.0205               1.0
3           0.1 2013-01-07     0.0203               1.0
4          -0.4 2013-01-08     0.0197               1.0
...         ...        ...        ...               ...
1505        0.3 2018-12-24     0.3461               1.0
1506        0.2 2018-12-26     0.3755               1.0
1507        0.1 2018-12-27     0.3784               1.0
1508        0.1 2018-12-28     0.3747               1.0
1509        0.2 2018-12-31     0.3801               1.0

[1510 rows x 4 columns]